body{
    font-size: 10px;
}
header{
    min-height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-position: center ;
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 5vh 0 5vh 0;     
}
.container{
    max-width: 1312px;
    margin: auto;
    padding: 0 85px 0 85px;
}
header h2{
    font-weight: 700;
    font-size: 6.4em;
    line-height: 140%;
    color: #EA7A14;
    text-align: center;
}
header h1{
    font-weight: 700;
    font-size: 7.2em;
    line-height: 140%;
    color: #FFFFFF;
    text-align: center;
}
header hr{
    height: 8px;
    background-color: white;
    margin: 0 0 23px 0;
}
header p{
    font-weight: 400;
    font-size: 2.4em;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
    flex-grow: 1;
}
header a{
    width: 100%;
    font-weight: 400;
    font-size: 2.4em;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    display: inline-block;
    max-width: 367.28px;
    padding: 20px 0 19px 0;
    transition: 0.5s;
    min-width: 300px;
}
.header__info{
    display: flex; 
    align-items: center;
    gap: 92.97px;
    justify-content: center;
}
header a:hover{
    background-color: white;
    color: black;
}
main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,450px);
}
.main__item{
    background-size: cover;
    background-position: center;
    position: relative;
}
.main__item:nth-child(1){
    background-image: url(../img/html.jpeg);
}
.main__item:nth-child(2){
    grid-column: 2/4;
    background-image: url(../img/css.webp);
}
.main__item:nth-child(3){
    grid-column: 1/3;
    background-image: url(../img/javascript.webp);
}
.main__item:nth-child(4){
    background-image: url(../img/にろ.png);
}
.main__item:nth-child(5){
    background-image: url(../img/figma.png);
}
.main__item:nth-child(6){
    grid-column: 2/4;
    background-image: url(../img/what-is-scratch.png);
}
.bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.712);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    color: white;
    font-size: 100px;
}
.bg:hover{
    background-color: rgba(0, 0, 0, 0);
    color: #ea7b1400;
}
.aboutme{
    background-color: #28262E;
    color: white;
    padding: 80px 0 80px 0;
    text-align: center;
}
.aboutme p{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.aboutme h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 6px;
}
.aboutme hr{
    height: 8px;
    background-color: white;
    margin-bottom: 47px;
}
.contact{
    background: rgba(10, 10, 14, 0.89);
    color: white;
    padding: 80px 0 80px 0;
}
.contact h2{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 6px;
}
.contact hr{
    height: 8px;
    background: #FFFFFF;
    margin-bottom: 64px;
}
footer{
    background-color: black;
    padding: 59px 0 59px 0;
}
footer p{
    font-size: 30px;
    text-align: center;
    background-color: black;
    color: white;
}
form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 64px auto 302px 64px;
    gap: 20px;
}
textarea{
    grid-column: 1/3;
    resize: none;
}
label{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;    
}
input,textarea{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    padding: 16px;
    background: #3A3A3F;
    color: white;
    transition: 0.5s;
}
button{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    transition: 0.5s;
}
button:hover{
    background-color: #3a3a3f;
    border: white 2px solid;
    color: white;
}
input:focus,textarea:focus{
    box-shadow: 0 0 16px white;
}